# US Baby Name

# GIỚI THIỆU
Dữ Liệu `US_BaBy_Names.csv` chứa thông tin của các em bé sinh từ 2004 - 2014 tại Mỹ. Dựa vào tập dữ liệu trên, bạn hãy thực hiện các bài tập sau:

## TÌM HIỂU DỮ LIỆU

In [57]:
### 01. Đọc dữ liệu
import pandas as pd
import numpy as np
BaBy = pd.read_csv(r'T:\TKMT_lab_02\TKMT_lab_02\US_BaBy_Names.csv', header=0)

In [58]:
### 02. Hiển thị 10 dòng dữ liệu bất kỳ
BaBy.sample(10, random_state=99)

        Unnamed: 0       Id      Name  Year Gender State  Count
394          11743    11744      Isis  2005      F    AK      5
383632     2062747  2062748     Allen  2011      M    KY     13
208453     1076538  1076539   Zenaida  2014      F    FL      6
155915      805960   805961   Gilbert  2010      M    CO      9
139582      754819   754820    Eileen  2004      F    CO     10
491091     2696632  2696633    Summer  2014      F    MN     28
579862     3262886  3262887      Zoey  2007      F    NE     27
104977      563040   563041  Estefani  2014      F    CA     17
263318     1326546  1326547     Khari  2014      M    GA      7
511281     2815004  2815005  Abrielle  2013      F    MO      8

In [59]:
### 03. Cho biết kích thước dữ liệu
BaBy.groupby(['Id']).size()

Id
11350      1
11351      1
11352      1
11353      1
11354      1
          ..
5647422    1
5647423    1
5647424    1
5647425    1
5647426    1
Length: 1016395, dtype: int64

In [ ]:
### 04. Xóa 2 cột 'Unnamed: 0' and 'Id'
BaBy.drop(columns=("Name","Id"))

In [61]:
### 05. Cho biết số lượng bé trai, bé gái?
BaBy.groupby(['Gender']).count()

        Unnamed: 0      Id    Name    Year   State   Count
Gender
F           558846  558846  558846  558846  558846  558846
M           457549  457549  457549  457549  457549  457549

In [62]:
### 06. Trong bộ dữ liệu có bao nhiêu tên khác nhau?
BaBy['Name'].nunique()

17632

In [64]:
### 07. Tên nào xuất hiện ít nhất?
BaBy["Name"].min()

'Aaban'

In [81]:
### 08. Top 10 tên được sử dụng nhiều nhất?

BaBy["Name"].value_counts().head(10)

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Taylor    1033
Jayden    1031
Alexis     984
Payton     971
Angel      962
Name: Name, dtype: int64

In [ ]:
## TRỰC QUAN DỮ LIỆU

In [ ]:
### 09. Vẽ đồ thị top 10 tên xuất hiện nhiều nhất năm 2014
import matplotlib.pyplot as plt
cont = "Top 10 tên xuất hiện nhiều nhất năm 2014"
names_in_2014 = BaBy[BaBy['Year'] == 2014]
plt.plot(names_in_2014['Name'].value_counts().head(10))

plt.title(cont)
plt.show()

In [ ]:
### 10. Vẽ đồ thị thể hiện tỷ lệ nam nữ qua các năm 2004-2014
import matplotlib.pyplot as plt
cont = "Tỷ lệ nam nữ qua các năm 2004-2014"
male_data, female_data = [[BaBy[(BaBy.Year == year) & (BaBy.Gender == gender)].Gender.count()
                           for year in range(2004, 2015)] for gender in ('M','F')]

plt.bar(range(2004, 2015), male_data, color='blue', width=0.35, label ='Male')
plt.bar([i+0.35 for i in range(2004, 2015)], female_data, color='pink', width=0.35, label ='Female')
plt.xlabel('Year')
plt.ylabel('Number of babies')
plt.title(cont)
plt.xticks([r+0.17 for r in range(2004, 2015)], range(2004, 2015))
plt.legend()
plt.show()