# BÀI TẬP ƯỚC LƯỢNG

## <u>Bài 1</u>

Green M&M Candies liên quan đến Dataset 18 trong file excel. Tìm tỉ lệ mẫu của M&M có màu xanh lá cây (green). Sử dụng kết quả để xây dựng 1 ước lượng khoảng tin cậy 95% của % quần thể M&M có màu xanh.

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_excel("./data/18_M_M.xls")
df

      Red  Orange  Yellow  Brown   Blue  Green
0   0.751   0.735   0.883  0.696  0.881  0.925
1   0.841   0.895   0.769  0.876  0.863  0.914
2   0.856   0.865   0.859  0.855  0.775  0.881
3   0.799   0.864   0.784  0.806  0.854  0.865
4   0.966   0.852   0.824  0.840  0.810  0.865
5   0.859   0.866   0.858  0.868  0.858  1.015
6   0.857   0.859   0.848  0.859  0.818  0.876
7   0.942   0.838   0.851  0.982  0.868  0.809
8   0.873   0.863     NaN    NaN  0.803  0.865
9   0.809   0.888     NaN    NaN  0.932  0.848
10  0.890   0.925     NaN    NaN  0.842  0.940
11  0.878   0.793     NaN    NaN  0.832  0.833
12  0.905   0.977     NaN    NaN  0.807  0.845
13    NaN   0.850     NaN    NaN  0.841  0.852
14    NaN   0.830     NaN    NaN  0.932  0.778
15    NaN   0.856     NaN    NaN  0.833  0.814
16    NaN   0.842     NaN    NaN  0.881  0.791
17    NaN   0.778     NaN    NaN  0.818  0.810
18    NaN   0.786     NaN    NaN  0.864  0.881
19    NaN   0.853     NaN    NaN  0.825    NaN
20    NaN   0.864     NaN    NaN  0.855    NaN
21    NaN   0.873     NaN    NaN  0.942    NaN
22    NaN   0.880     NaN    NaN  0.825    NaN
23    NaN   0.882     NaN    NaN  0.869    NaN
24    NaN   0.931     NaN    NaN  0.912    NaN
25    NaN     NaN     NaN    NaN  0.887    NaN
26    NaN     NaN     NaN    NaN  0.886    NaN

In [18]:

green_ratio = df['Green'].count()/df.count().sum()
green_ratio

0.19

In [8]:
import numpy as np
n = df.count().sum() # Tổng số kẹo M&M trong mẫu
p = green_ratio # Tỉ lệ M&M có màu xanh trong mẫu
se = np.sqrt(p*(1-p)/n) # Độ lệch chuẩn của phân phối mẫu
z = 1.96 # Giá trị z-score tương ứng với mức độ tin cậy 95%
margin_error = z*se # Sai số khoảng tin cậy
lower_bound = p - margin_error # Giới hạn dưới của khoảng tin cậy
upper_bound = p + margin_error # Giới hạn trên của khoảng tin cậy
print(lower_bound,";",upper_bound)

0.11310902263594252 ; 0.2668909773640575

In [17]:
# import pandas as pd

# green_mean = df["Green"].mean()
# n = len(df)

# green_sample_prop = green_mean / n

# print("Tỉ lệ mẫu của M&M có màu xanh lá cây:", green_sample_prop)
# green_mean
# green_sample_prop 
# n = len(df)
# n

Tỉ lệ mẫu của M&M có màu xanh lá cây: 0.031982456140350876

27

In [11]:
# import numpy as np
# from scipy.stats import t

# alpha = 0.05  # mức ý nghĩa (significance level)
# deg_freedom = n - 1  # độ tự do
# se = np.sqrt(p*(1-p)/n) # Độ lệch chuẩn của phân phối mẫu
# se = np.std(df["Green"], ddof=1) / np.sqrt(n)  # standard error
# t_critical = t.ppf(1 - alpha / 2, deg_freedom)  # t-score từ bảng phân phối t-student

# lower = green_mean - t_critical * se  # lower bound
# upper = green_mean + t_critical * se  # upper bound

# print("95% Confidence interval for population proportion of green M&Ms:")
# print(f"({lower:.4f}, {upper:.4f})")

95% Confidence interval for population proportion of green M&Ms:
(0.8410, 0.8861)

## <u>Bài 2</u>

Freshman Weight Gain liên quan đến Dataset 3 trong file excel

a. Dựa vào kết quả của mẫu, tìm ước lượng điểm tốt nhất của tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.

b. Xây dựng ước lượng khoảng tin cậy 95% về tỉ lệ phần trăm các sinh viên cao đẳng tăng cân trong năm thứ 1.

In [5]:
f3 = pd.read_excel('./data/03_FRESH15.xls')
f3

   SEX  WTSEP  WTAPR  BMISP  BMIAP
0    M     72     59  22.02  18.14
1    M     97     86  19.70  17.44
2    M     74     69  24.09  22.43
3    M     93     88  26.97  25.57
4    F     68     64  21.51  20.10
..  ..    ...    ...    ...    ...
62   M     65     71  22.51  24.45
63   M     75     82  23.69  25.80
64   F     42     49  15.08  17.74
65   M     74     82  22.64  25.33
66   M     94    105  36.57  40.86

[67 rows x 5 columns]

In [83]:
tangcan=f3[f3["WTSEP"] < f3["WTAPR"]].count()/f3.count().sum()
tangcan

SEX      0.134328
WTSEP    0.134328
WTAPR    0.134328
BMISP    0.134328
BMIAP    0.134328
dtype: float64

In [19]:
# Tính tỉ lệ phần trăm tăng cân của từng sinh viên
f3["WTDIFF"] = f3["WTAPR"] - f3["WTSEP"]
f3["BMIDIFF"] = f3["BMIAP"] - f3["BMISP"]
f3["PCT_CHANGE"] = (f3["BMIDIFF"] / f3["BMISP"]) * 100

# Tính ước lượng điểm tốt nhất của tỉ lệ phần trăm tăng cân của các sinh viên
pct_change_mean = f3["PCT_CHANGE"].mean()
pct_change_mean

2.126925334096541

In [20]:
# Tính giá trị trung bình và độ lệch chuẩn của tỉ lệ phần trăm tăng cân
pct_change_mean = f3["PCT_CHANGE"].mean()
pct_change_std = f3["PCT_CHANGE"].std()

# Tính giá trị z-score ở mức độ tin cậy 95%
z_score = 1.96

# Tính khoảng tin cậy 95% cho giá trị trung bình
lower_ci = pct_change_mean - (z_score * pct_change_std / np.sqrt(len(f3)))
upper_ci = pct_change_mean + (z_score * pct_change_std / np.sqrt(len(f3)))

# In ra kết quả
print(f"95% confidence interval for the percentage change in weight: ({lower_ci}, {upper_ci})")

95% confidence interval for the percentage change in weight: (0.7647663677907457, 3.4890843004023364)

## <u>Bài 3</u>

Lượng mưa ở Boston: liên quan đến Dataset 14 trong file excel, và quan tâm đến các ngày với các giá trị lượng mưa khác nhau từ 0 đến các ngày có mưa có giá trị lượng mưa lớn hơn 0. Xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Thứ Tư và xây dựng ước lượng khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày Chủ Nhật.

In [ ]:
f14 = pd.read_excel('./data/14_BOSTRAIN.xls')
f14

In [23]:
import pandas as pd


# hàm tính tỉ lệ mưa cho một ngày bất kỳ
def rainfall_ratio(day):
    return f14.iloc[:, day].mean()

In [25]:
import numpy as np

# số lượng mẫu bootstrap
n_samples = len(f14)

# số ngày WED và SUN
wed_day = f14["WED"].mean()
sun_day = f14["SUN"].mean()
# tạo ra các mẫu ngẫu nhiên từ bảng dữ liệu
bootstrap_samples = [f14.sample(frac=1.0, replace=True) for i in range(n_samples)]

# tính tỉ lệ mưa trung bình trên mỗi mẫu bootstrap
rainfall_ratios = []
for sample in bootstrap_samples:
    wed_ratio = sample.iloc[:, wed_day].mean()
    sun_ratio = sample.iloc[:, sun_day].mean()
    rainfall_ratios.append((wed_ratio, sun_ratio))

# tính khoảng tin cậy 95% cho tỉ lệ mưa trong các ngày WED và SUN
wed_ci = np.percentile([r[0] for r in rainfall_ratios], [2.5, 97.5])
sun_ci = np.percentile([r[1] for r in rainfall_ratios], [2.5, 97.5])

print("95% confidence interval for rainfall ratio on Wednesdays:", wed_ci)
print("95% confidence interval for rainfall ratio on Sundays:", sun_ci)

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [ ]:
import math
from scipy.stats import norm

def wilson_ci(p, n, alpha=0.05):
    z = norm.ppf(1 - alpha/2)
    phat = p * 1.0 / n
    numerator = phat + z*z/(2*n) - z*math.sqrt((phat*(1-phat)+z*z/(4*n))/n)
    denominator = 1 + z*z/n
    return (numerator / denominator, phat, phat*(1-phat)/n)

# Khoảng tin cậy cho ngày WED
p_wed = 12 / 30
ci_wed = wilson_ci(p_wed, n=30)
print("Wilson confidence interval for WED:", ci_wed)

# Khoảng tin cậy cho ngày SUN
p_sun = 8 / 20
ci_sun = wilson_ci(p_sun, n=20)
print("Wilson confidence interval for SUN:", ci_sun)

## <u>Bài 4</u>

Tổng số tiền phim: liên quan đến Dataset 9 trong file excel. Xây dựng ước tính khoảng thời gian tin cậy 95% của tổng số tiền trung bình cho quần thể của tất cả các phim. Giả định rằng độ lệch chuẩn của quần thể được biết là 100 triệu đô la.

## <u>Bài 5</u>

Điểm đánh giá tín dụng FICO: liên quan đến Dataset 24 trong file excel. Xây dựng ước lượng khoảng tin cậy 99% của điểm FICO trung bình cho quần thể. Giả sử độ lệch chuẩn của quần thể là 92,2.